.plans-comp{
    padding:1rem 2rem 0 2rem;
    background-color: black;
}
.plans-nav{
    background-color: black;
    height: 4rem;
    display: flex;
    flex-direction: row;
    gap:1rem;
    overflow-x: scroll;
}
.btn{
    width: 25rem;
    height: 3rem;
    cursor: pointer;
    padding:0.5rem 2rem;
}
@media (max-width:520px){
    .btn{
        font-size: medium;
    }
    .btn{
    width: 40rem;
    height: 2rem;
    padding:0.5rem 2rem;
}
}
