.plans-comp{
    padding:2rem 3rem;
    background-color: black;
}

.plans-btn{
    background-color: black;
    border: 2px solid white;
    color:  #9ACC1E;
    margin: 0 2rem;  
}
.plan-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: aliceblue;
   
}
.plan-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    border: 1px solid #fff;
    margin:1rem 2rem;
    border-radius: 10px;
}
.plan-card h3{
    color: #9ACC1E;
}
.plan-card .active{
    font-size: larger;
    padding:0.5rem 3rem;
}
@media (max-width:1060px){
     .plan-cards{
    grid-template-columns: repeat(3,1fr);

}}
@media (max-width:800px){
    .plan-cards{
    grid-template-columns: repeat(2,1fr);
   
}
@media (max-width:500px){
    .plan-cards{
    grid-template-columns: repeat(1,1fr);}
    .plans-comp{
    padding:2rem 0rem;
}
.plan-card{
    padding:0.9rem;
    margin:0.3rem;
}
.active{
    padding-top: 0.3rem;
    padding-bottom: 2rem;
}
   }

}