.Contact-comp{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5rem 0;
}
.inp-form{
    width: 20rem;
    height: 35rem;
    background-color:rgb(58, 58, 58);
    padding: 4rem;
    border-radius: 25px;
}
.contact-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inp-form .inp{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
span{
    font-size: large;
}
input{
    height: 1.8rem;
    width: 20rem;
}
textarea{
    height: 6rem;
    width: auto;
}
button{
  font-size: x-large;
  padding: 0.5rem 4rem;
  background-color:  #9ACC1E;
  border-radius: 10px;
}
@media (max-width:520px){
    .inp-form{
        width: 10rem;
        height: 27rem;
    }
    .inp-form{
    width: 18rem;
    height: 30rem;
    padding: 0.5rem;
}
    input{
    height: 1.5rem;
    width: 10rem;
}
span{
    font-size: medium;
}
.inp-form .inp{
    display: flex;
    flex-direction: column;
    padding-top: 0.4rem;
}
}
