.login-comp{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: black;
    padding: 5rem 0;
}
.login-form{
    height:15rem;
    width: 25rem;
    background-color:rgb(58, 58, 58);
    border-radius: 10px;
    border: 2px solid green;
}
.login-form span{
    color: white;
    padding-top: 2rem;
}
.login-btn-comp{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.mail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
input{
    border-radius: 5px;
}
@media (max-width:520px){

    .login-form{
    height:15rem;
    width: 20rem;
}
.mail{
    padding-top: 2rem;
}
input{
    width: 17rem;
}
}