.profile-comp{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.data{
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 4rem 5rem;
    border-radius: 30px;
    margin: 4rem 0;

    
}
.comp{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 0.5rem;
    cursor: pointer;
}
.profile-pic{
    width: 3rem;
    height: 3rem;
}
.username{
    color: #B0FF18;
    padding-left: 1rem;
}
.check{
    padding-left: 8rem;
    height: 2rem;
    width: 2rem;

}
.arrow{
    padding-left: 8rem;
    height: 2rem;
    width: 2rem;
}
.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    width: 2rem;
    height: 2rem;
}
.name{
    color: #f1f1f1;
    font-size: medium;
    padding-left: 1rem;
}
@media(max-width:520px){
    .data{
    width:17rem;
    padding: 2rem;  
}
.profile-pic{
    width: 4rem;
    height: 3rem;
}
.arrow{
    padding-left: 5rem;
    height: 2rem;
    width: 2rem;
}

}
@media (max-width:520px){
    .data{
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 1rem 2rem;
    border-radius: 30px;
    margin: 4rem 0;

    
}
.comp{
    margin-top: 0.1rem;
}
.username{
    font-weight: lighter;
    padding-left: 1rem;
}
.arrow{
    padding-left: 6rem;
    height: 1.4rem;
    width: 1.4rem;
}
}
    
