.val-comp{
    padding: 2rem 5rem;
    background-color: black;
    color: antiquewhite;
}
.first{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.present{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    width: 25rem;
    padding: 1rem;
    border-radius: 15px;
}
.img-comp{
    padding:2rem 2rem 1rem 2rem;
}
img{
    width: 100%;
}
.modloc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.location{
    display: flex;
    gap:0.5rem;
    align-items: center;
    justify-content: center;
}
.location .loc-com{
    width: 1rem;
    height: 1rem;
}
.range{
    width: 100%;
    display: flex;
    gap:0.3rem;
    align-items: center;
    justify-content: center;
}
.range-img{
    width: 70%;
}
.reactive{
    font-weight: lighter;
    cursor: pointer;
    width: 80%;
}
.reactive:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.second{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 30rem;
    padding: 3rem 1rem;
}
.past{
    height: 20rem;
    padding: 2rem;
    margin: 0 3.5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 1px solid white;
     border-radius: 20px;
}
.kmore{
    margin-top: 1rem;
   
}

@media(max-width:768px){
    .val-comp{
    padding: 1rem;
}
    .second{
    grid-template-columns: repeat(1,1fr);
    height: 50rem;
    padding: 3rem 1rem;
}
@media (max-width:720px){
    .second{ grid-template-columns: repeat(1,1fr);
    height: 80rem;
}
}
@media (max-width:520px){
  .second{ grid-template-columns: repeat(1,1fr);
    height: 80rem;
}
.past{
    margin-top: 1rem;
}
.present{
    width: 19rem;
    padding:1rem;

}
.reactive{
    font-weight:small;
    width: 80%;
    height: 2.5rem;
}
}

}
@media (min-width:425px) and (max-width:789px){
    .past img{
        height: 10rem;
        width: 15rem;
    }
    .range img{
        height: 1.5rem;
    }
    .past{
        padding: 1rem;
        margin-top: 2rem;
    }
    .val-comp{
  height: 170rem;
    }
}